.link {
  color: #fff;
  max-width: 45%;
  text-decoration: none;
  margin: 10px;
}
.container {
  background-color: #242f3e;
  padding: 20px 30px;
  border-radius: 8px;
  transition: 0.3s transform ease;
}
.container:hover {
  background-color: rgb(49, 64, 85);
  transform: scale(1.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.container h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
}
.container p {
  font-size: 15px;
}
.stats {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.icon {
  width: 15px;
  margin-right: 15px;
}
